<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BF56B211CE8B847007F5D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF56B3A1CE8B847007F5D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF56B451CE8B848007F5D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
